main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    padding-top:100px;
    
   background-size:contain;
   background-position: center;
   border-radius: 30px;
   box-shadow: 2px 4px 30px rgba(83, 81, 109, 0.679);
   background-color: rgba(116, 120, 178, 0.27);
   
}


.title
{
    font-size: 50px;
    font-weight: bold;
    padding: 1.5% 0;
    color: #2b2b2f;
}

.title-info
{
	padding-bottom: 2%;
    color: #2b2b2f;
}

.form
{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5%;
    
}

.input-group, .textarea-group
{
    padding: 1% 0;
}

input, textarea
{
    color: rgb(255, 255, 255);
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #6c65aafc;
    padding: 1.5%;
    font-size: 20px;
}

input:focus, textarea:focus
{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid #4f4c92;
}

input::placeholder, textarea::placeholder
{
    color: transparent;
}

label
{
    color: #2b2b2f;;
    position: relative;
    left: 0.5em;
    top: -2em;
	cursor: auto;
    transition: 0.3s ease all;
}

input:focus ~ label, input:not(:placeholder-shown) ~ label
{
    top: -4em;
    color: rgb(204, 200, 215);
    font-size: 15px;
}

textarea:focus ~ label, textarea:not(:placeholder-shown) ~ label
{
    top: -10.5em;
    color: rgb(204, 200, 215);
    font-size: 15px;
}

.button-div
{
    display: flex;
    justify-content: center;
}

button
{
    padding: 2%;
    width: 50%;
    border: 1px solid;
    border-color: #bcb1b18a;
    border-radius: 10px;
    font-family: inherit;
    font-size: 18px;
    background-color: rgba(36, 43, 78, 0.639);
    color: white;
    box-shadow: 0 0 10px #817f7f81;

}

button:hover
{
    background-color: #8e8484;
    color: #101110;
    cursor: pointer;
}
.qrcode h1{
    text-align: center;
    color:rgb(204, 200, 215);
    font-weight:900;
    padding-top: 20px;
    padding-bottom: 10px;
    opacity: 0.2;
}
.qrcode h1:hover{
    opacity: 0.9;
}
.qrcode img{
    height:150px;
    padding-bottom: 30px;
    opacity: 0.4;
    cursor: pointer;
    border-radius: 10px;

}
.qrcode img:hover{
    transform:scale(3);
    z-index: 2;
        animation: fade 0.5s ease;
        opacity: 0.9;
    
}

/* Media queries */

@media screen and (max-width: 1200px)
{
    .form
    {
        width: 70%;
    }
}

@media screen and (max-width: 680px)
{
    .form
    {
		width: 90%;
    }
}

@media screen and (max-width: 500px)
{
	.title
	{
		font-size: 40px;
		padding-top: 6%;
	}

	.title-info
	{
		font-size: 13px;
	}
	
	.form
	{
		padding: 6% 4%;
		padding-top: 15%;
	}

	.input-group, .textarea-group
    {
		padding: 3% 0;
	}
	
	input, textarea
	{
		font-size: 15px;
	}

	input:focus ~ label, input:not(:placeholder-shown) ~ label
	{
		top: -3.5em;
		left: 0.1em;
	}
	
	textarea:focus ~ label, textarea:not(:placeholder-shown) ~ label
	{
		top: -8.5em;
		left: 0.2em;
    }
    
    button
    {
        font-size: 15px;
    }
}